
*{
    margin: 0;
    padding:0;
}

.bg-nav{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.731) , rgba(0, 0, 0, 0.087));
}
#navbar a , footer a{
    text-decoration: none !important;
    color:#fff !important;
}
#banner{
    background-image: url('https://raw.githubusercontent.com/Techsoros/money-manager/main/Banner.jpg');
    height: 100vh;
    background-position: center left;
    display: flex;
    align-items: center;
}
.success-bg{
    background-image: url('https://techsoros.github.io/taxicab/img/testimonibg.png');
    background-attachment: fixed ;
}
.success-box div{
    min-height: 200px;
    min-width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 33px -17px #ddd;
    border-radius: 13px;
    background-color: rgba(221, 221, 221, 0.208);
}
.bg-black{
    background-color: rgba(0, 0, 0, 0.916);
    
}

.dashboard-links a{
    display: block;
    margin: 10px 0;
}