
*{
    margin: 0;
    padding:0;
}

.bg-nav{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.731) , rgba(0, 0, 0, 0.087));
}
#navbar a{
    text-decoration: none !important;
    color:#fff !important;
}
#banner{
    background-image: url('https://raw.githubusercontent.com/Techsoros/money-manager/main/Banner.jpg');
    height: 100vh;
    background-position: center left;
    display: flex;
    align-items: center;
}